
<table>
  <caption>
    Edit {{user.registryItems.name}}
  </caption>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Description</th>
    <th>New or Used?</th>
    <th>Quantity</th>
    <th>Notes</th>
    <th>Suggested stores</th>
    <th>Still Needed</th>
    <th>Edit</th>
  </tr>
    <tr>
      <td>{{user.registryItems.name}}</td>
      <td>{{user.registryItems.image}}</td>
      <td>{{user.registryItems.description}}</td>
      <td>{{user.registryItems.new}}</td>
      <td>{{user.registryItems.quantity}}</td>
      <td>{{user.registryItems.note}}</td>
      <td>{{user.registryItems.locations}}</td>
      <td>{{user.registryItems.stillNeeded}}</td>
      <td>
        <form class="" action="/:userId/home/:itemId" method="PATCH">
          <input type="submit" name="submit" value="Edit">
        </form>
      </td>
    </tr>
</table>

<form class="" action="/:userId/home/:itemId" method="POST">
  <input type="button" name="Delete" value="Delete Item">
</form>
