<div class="module-card-wrap">
  {{#each user}}
    <div class="module-card">
      <a href="/{{_id}}/home">
        <div class="module-card-name" name='name'>{{fullName}}</div>
        <div class="module-card-meta">
          <div class="module-card-category">
            <span class="fa fa-tag"></span> <!-- maybe delete -->
          </div>
          <div class="module-card-new">
            <span class="fa fa-user"></span> <!-- maybe delete -->
          </div>
        </div> <!-- /module-card-meta -->

        <div class="module-card-bottom">
          <img name='image' src={{image}} alt="image of item" class="module-card-img" />

          <div><p>{{address.city}} ', ' {{address.state}}</p></div>
          <div class="module-card-button-wrap">
          </div> <!-- /module-card-button-wrap -->
        </div> <!-- /module-card-bottom -->
      </a>
    </div> <!-- /module-card -->
  {{/each}}
</div> <!-- /module-card-wrap -->
