{{#each user.registryItems}}
  loggedIn is: {{../loggedIn}}
{{/each}}
<!-- fix the line below.  Had to wrap entire table in form -->
    <form class="" action="/{{user._id}}/home/{{user.registryItems._id}}?_method=PUT" method="POST">
<table>
  <caption>
    {{user.firstName}}'s and {{user.partner.firstName}}'s {{user.registryItems.registryType}} Registry
  </caption>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Description</th>
    <th>New or Used?</th>
    <th>Quantity</th>
    <th>Notes</th>
    <th>Suggested stores</th>
    <th>Still Needed</th>
    {{#if loggedIn}}
      <th>Add/Edit</th>
    {{/if}}
  </tr>
  {{#each user.registryItems}}
    <tr>
      {{#if ../loggedIn}}

        <td contenteditable="true"><{{name}}</td>
        <td contenteditable="true">{{image}}</td>
        <td contenteditable="true">{{description}}</td>
        <td contenteditable="true">{{new}}</td>
        <td contenteditable="true">{{quantity}}</td>
        <td contenteditable="true">{{note}}</td>
        <td contenteditable="true">{{locations}}</td>
        <td contenteditable="true">{{stillNeeded}}</td>
        <td>
        <input type="submit" >
        </td>

      {{else}}
        <td>{{name}}</td>
        <td>{{image}}</td>
        <td>{{description}}</td>
        <td>{{new}}</td>
        <td>{{quantity}}</td>
        <td>{{note}}</td>
        <td>{{locations}}</td>
        <td>{{stillNeeded}}</td>
      {{/if}}
    </tr>

  {{/each}}
  {{#if loggedIn}}
  <form class="newItem " action="/:userId/home/newItem" method="POST">
      <tr>
        <td><input type='text' name="name" placeholder="Input New Item Here"></td>
        <td><input type='text' name="image" placeholder="image"></td>
        <td><input type='text' name="description" placeholder="description"></td>
        <td><input type='text' name="new" placeholder="new or used? "></td>
        <td><input type='text' name="quantity" placeholder="quantity"></td>
        <td><input type='text' name="note" placeholder="notes"></td>
        <td><input type='text' name="locations" placeholder="suggested stores"></td>
        <td><input type='text' name="stillNeeded" placeholder="still needed"></td>
        <td><button type='submit' name="submit">Add New Item</button></td>
      </tr>
    </form>
  {{/if}}
</table>
  </form>
