<div class="module-card-wrap">

  {{#if loggedIn}}
    <div class="module-card">
      <form class="" action="/user.id/home/newItem" method="POST">
        <input class="module-card-name" contenteditable="true" name="name"></input>

        <div class="module-card-meta">
          <div class="module-card-category">
            <span class="fa fa-tag"></span>
            <span>Still Needed: </span><input type="Number" name="stillNeeded" min='0' value="1">
          </div>
          <div class="module-card-new">
            <span class="fa fa-user"></span>
            <label>New: <input type="checkbox" name="new" value="new"></label><br>
            <label>Used: <input type="checkbox" name="used" value="used"></label>
          </div>
        </div> <!-- /module-card-meta -->

        <div class="module-card-bottom">
          <input type="url" name="image" placeholder="image url">
          <div><br>
            <textarea rows='3' name="description" placeholder="enter notes, description, suggested stores, etc"></textarea>
          </div>

          <div class="module-card-button-wrap">
              <button class="module-card-button"> Add New Item </button>
          </div> <!-- /module-card-button-wrap -->

        </div> <!-- /module-card-bottom -->
      </form>
    </div> <!-- /module-card -->
  {{/if}}

  {{#each user.registryItems}}
    <div class="module-card">
      <div class="module-card-name" contenteditable="true">{{name}}</div>

      <div class="module-card-meta">
        <div class="module-card-category">
          <span class="fa fa-tag"></span>
          <span>Still Needed: <span contenteditable="true">{{stillNeeded}}</span></span>
        </div>
        <div class="module-card-new">
          <span class="fa fa-user"></span>
          <span>New: {{new}}</span>
        </div>
      </div> <!-- /module-card-meta -->

      <div class="module-card-bottom">
        <img src={{image}} alt="image of item" class="module-card-img" />

        <div>
          <p>{{description}}</p>
        </div>

        <div class="module-card-button-wrap">
          <form class="" action="/{{../user._id}}/home/{{_id}}?_method=PUT" method="POST">
            <button class="module-card-button"> Update </button>
          </form>
          <form class="" action="/{{../user._id}}/home/{{_id}}?_method=DELETE" method="POST">
            <button class="module-card-button"> Delete </button>
          </form>
        </div> <!-- /module-card-button-wrap -->

      </div> <!-- /module-card-bottom -->
    </div> <!-- /module-card -->
  {{/each}}

</div> <!-- /module-card-wrap -->
