
<table>
  <caption>
    {{user.firstName}}'s and {{user.partner.firstName}}'s {{user.registryItems.registryType}} Registry
  </caption>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Description</th>
    <th>New or Used?</th>
    <th>Quantity</th>
    <th>Notes</th>
    <th>Suggested stores</th>
    <th>Still Needed</th>
    {{#if user}}
      <th>Add/Edit</th>
    {{/if}}
  </tr>
  {{#each user.registryItems}}
    <tr>
      <td>{{name}}</td>
      <td>{{image}}</td>
      <td>{{description}}</td>
      <td>{{new}}</td>
      <td>{{quantity}}</td>
      <td>{{note}}</td>
      <td>{{locations}}</td>
      <td>{{purchased}}</td>
      {{#if ../user}}
        <td><a href="/" + ../user._id + "/home/" + {{itemId}}>Edit</a></td>
      {{/if}}
    </tr>
  {{/each}}
  {{#if user}}
  <form class="newItem " action="/:userId/home/newItem" method="POST">
      <tr>
        <td><input type='text' name="name" placeholder="Input New Item Here"></td>
        <td><input type='text' name="image" placeholder="image"></td>
        <td><input type='text' name="description" placeholder="description"></td>
        <td><input type='text' name="new" placeholder="new or used? "></td>
        <td><input type='text' name="quantity" placeholder="quantity"></td>
        <td><input type='text' name="note" placeholder="notes"></td>
        <td><input type='text' name="locations" placeholder="suggested stores"></td>
        <td><input type='text' name="purchased" placeholder="still needed"></td>
        <td><button type='submit' name="submit">Add New Item</button></td>
      </tr>
    </form>
  {{/if}}
</table>
